.form-container {
    margin-top: 36px;
    margin-bottom: 32px;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.form-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;

    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 10px;
}

.form-btn,
.load-more-btn {
    width: 91px;
    height: 40px;
    border-radius: 8px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: cornflowerblue;
    padding: 0;
    color: aliceblue;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.load-more-btn:hover {
    background-color: darkslateblue;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.gallery-item {
    width: calc((100% - 60px) / 4);
    overflow: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
    transform: scale(1.01);
}

.photo-card {
    border: 1px solid #ddd;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-card>img {
    height: 152px;
}

.photo-info {
    display: flex;
    padding-block: 4px;
    background-color: #f9f9f9;
    justify-content: space-around;
    font-size: 12px;
}

.photo-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.photo-info-item>span {
    font-weight: 400;
}

.load-more-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.load-more-btn.is-hidden {
    display: none;
}

.loader {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #dbdbdb;
    text-align: center;
}

.loader-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-spinner-check,
.loader-spinner-check:before,
.loader-spinner-check:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader-spinner-check {
    color: #111111;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader-spinner-check:before,
.loader-spinner-check:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader-spinner-check:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader-spinner-check:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}